body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: red;
}

h2 {
    color: red;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline;
    margin: 0 15px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: red;
}

p {
    margin-top: 20px;
}