* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fc0d0d;
}

h1 {
    color: #51a3dd;
    text-align: center;
    margin-top: 20px;
}
