* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: #c40000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    text-align: center;
    padding: 60px 20px;
    background-color: #f5f5f5;
}

.hero h2 {
    margin-bottom: 15px;
}

.hero p {
    margin-bottom: 20px;
    color: #555;
}

button {
    background-color: #c40000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #a00000;
}

.emprendimientos {
    padding: 50px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.card {
    background-color: rgb(51, 50, 50);
    padding: 20px;
    width: 250px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 15px;
    color: #666;
}

footer {
    background-color: #222;
    color: rgb(45, 45, 45);
    text-align: center;
    padding: 30px 20px;
}

.redes a {
    color: #c40000;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

.redes a:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4e73df, #1cc88a);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registro-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.registro-card {
    background: white;
    padding: 40px;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.registro-card h2 {
    text-align: center;
    margin-bottom: 25px;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #4e73df;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #2e59d9;
}

.login-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.login-link a {
    color: #4e73df;
    text-decoration: none;
    font-weight: bold;
}
