* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fc0d0d;
}

h1 {
    color: #51a3dd;
    text-align: center;
    margin-top: 20px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}
.featured {
    display: flex;
    justify-content: space-between;
}
.card {
    border: 1px solid #ccc;
    padding: 20px;
    width: 30%;
}